# variables & types

In [1]:
x,y,z = 1,"amir",[1,"1"]
print(f"x = {x} y = {y}  z = {z}")


fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(f"x = {x} y = {y}  z = {z}")


x = "Python is "
y = "good"
z =  x + y
print(z)

x = 1 y = amir  z = [1, '1']
x = apple y = banana  z = cherry
Python is good

In [2]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [3]:
def myfunc():
    global x
    x = "fantastic"
    print("python is "+x )

myfunc()

print("Python is " + x)

python is fantastic
Python is fantastic

In [4]:
for item in [
    "Hello World",20,20.5,2j,["apple", "banana", "cherry"],("apple", "banana", "cherry"),
    range(6),{"apple", "banana", "cherry"},{"name" : "John", "age" : 36},True,b"Hello",
    ]:
    
    print(f"name = {item} ---------> type={type(item)}")

name = Hello World ---------> type=<class 'str'>
name = 20 ---------> type=<class 'int'>
name = 20.5 ---------> type=<class 'float'>
name = 2j ---------> type=<class 'complex'>
name = ['apple', 'banana', 'cherry'] ---------> type=<class 'list'>
name = ('apple', 'banana', 'cherry') ---------> type=<class 'tuple'>
name = range(0, 6) ---------> type=<class 'range'>
name = {'apple', 'cherry', 'banana'} ---------> type=<class 'set'>
name = {'name': 'John', 'age': 36} ---------> type=<class 'dict'>
name = True ---------> type=<class 'bool'>
name = b'Hello' ---------> type=<class 'bytes'>

# numbers

In [5]:
for item in [11,-2,35e3,12E4,-87.7e100,2j]:
    try:
        print("_"*10)
        print(item)
        print(type(item))
        print(item**2)
        print(item/2)
        print(item//2)
        print(item%2)
        print(item+2)
        print(item-2)
    except Exception as e :
        print(f"item , {e}")

__________
11
<class 'int'>
121
5.5
5
1
13
9
__________
-2
<class 'int'>
4
-1.0
-1
0
0
-4
__________
35000.0
<class 'float'>
1225000000.0
17500.0
17500.0
0.0
35002.0
34998.0
__________
120000.0
<class 'float'>
14400000000.0
60000.0
60000.0
0.0
120002.0
119998.0
__________
-8.77e+101
<class 'float'>
7.69129e+203
-4.385e+101
-4.385e+101
0.0
-8.77e+101
-8.77e+101
__________
2j
<class 'complex'>
(-4+0j)
1j
item , can't take floor of complex number.

# casting

In [6]:
for item in [int(1) , int(2.8) , int("3") , float(1) ,float(2.8),float("3"),float("4.2"),str("s1"),str(2),str(3.0)]:
    print(item)

1
2
3
1.0
2.8
3.0
4.2
s1
2
3.0

# strings

In [7]:
a = "Hello"
b = "World"
print(a)
print(a[0])
print(a[-1])
for character in a:
    print(character , end="*")
print("\n")
print(len(a))
print("el" in a)
print("HL" not in a )
print(a.upper())
print(a.lower())
print(a.replace("H", "J"))
print(a+" "+b)
print(b*2)

Hello
H
o
H*e*l*l*o*

5
True
True
HELLO
hello
Jello
Hello World
WorldWorld

In [8]:

b = """           Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.\n"""

print(b)
print("____________")
print(b.strip())
print(b.count("o"))
print(b.strip()[1:5])
print(b[10:-2])
print(b[3:])
print(b[:3])
print(b[-5:-2])

           Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

____________
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
10
orem
 Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua
        Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.


qua

In [9]:

c = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(c)
print(c.split(","))

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
['Lorem ipsum dolor sit amet', '\nconsectetur adipiscing elit', '\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.']

In [10]:
d="Lorem ipsum dolor sit amet,\
consectetur adipiscing elit,\
sed do eiusmod tempor incididunt\
ut labore et dolore magna aliqua."
print(d)

Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididuntut labore et dolore magna aliqua.

escape characters = https://www.w3schools.com/python/python_strings_escape.asp
<br> string methods = https://www.w3schools.com/python/python_strings_methods.asp

# operations 
operations = https://www.w3schools.com/python/python_operators.asp

In [11]:
x = 10 
x**=2 
print(x)
x-=2 
print(x)


x+=2 
print(x)


x//=3 
print(x)


x/=2 
print(x)


print(x<=3 , x<3 , x>3 , x>=3 , x==3 )
print(True and False , True or False)

print(1 in [1,2,3,4,5])

100
98
100
33
16.5
False False True True False
False True
True

In [12]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

print(x is not z)

print(x is not y)

True
False
True
False
True

# list

In [13]:
my_list = ["abc", 34, True, 40, "male"]
print(len(my_list))
print(type(my_list))
print(my_list[1])
print(my_list[-1])
print(my_list[1:2])
print(my_list[1:-1])
print(my_list[1:])
print(my_list[:2])
my_list[1] = "ff"
print(my_list)
my_list[1:3] = ["gg","ll"]
print(my_list)
my_list[1:3] = ["yy"]
print(my_list)
my_list.insert(2, "OO")
print(my_list)

my_list.append("EE")
print(my_list)
my_list.extend(["WW","QQ" , ["TT","ZZ"]]) #iterable
print(my_list)
my_list.extend("aaa")
print(my_list)
my_list.remove("a")
print(my_list)

pop_item = my_list.pop(1) # default number is the latest item
print(pop_item)
print(my_list)

5
<class 'list'>
34
male
[34]
[34, True, 40]
[34, True, 40, 'male']
['abc', 34]
['abc', 'ff', True, 40, 'male']
['abc', 'gg', 'll', 40, 'male']
['abc', 'yy', 40, 'male']
['abc', 'yy', 'OO', 40, 'male']
['abc', 'yy', 'OO', 40, 'male', 'EE']
['abc', 'yy', 'OO', 40, 'male', 'EE', 'WW', 'QQ', ['TT', 'ZZ']]
['abc', 'yy', 'OO', 40, 'male', 'EE', 'WW', 'QQ', ['TT', 'ZZ'], 'a', 'a', 'a']
['abc', 'yy', 'OO', 40, 'male', 'EE', 'WW', 'QQ', ['TT', 'ZZ'], 'a', 'a']
yy
['abc', 'OO', 40, 'male', 'EE', 'WW', 'QQ', ['TT', 'ZZ'], 'a', 'a']

In [14]:
my_list = ["abc", 34, True, 40, "male"]
for item in my_list:
    print(item , end=" ")
    
print("")
for i in range(len(my_list)):
    print(my_list[i] , end=" ")
    
print("")
for i,item in enumerate(my_list):
    print(i,"->",item , end="    ")
print("")

[print(item , end=" ") for item in my_list]
print("")

print(my_list)
print([item for item in my_list])
 
print("")

index = 0 
while index < len(my_list):
    print(my_list[index],end=" ")
    index+=1

abc 34 True 40 male
abc 34 True 40 male
0 -> abc    1 -> 34    2 -> True    3 -> 40    4 -> male
abc 34 True 40 male
['abc', 34, True, 40, 'male']
['abc', 34, True, 40, 'male']

abc 34 True 40 male

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)


newlist = [x for x in fruits if "a" in x]
print(newlist)


newlist = [x for x in fruits if x != "apple"]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']

In [16]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)


def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)


thislist.sort(key = lambda item:abs(item - 65))
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]
[50, 65, 23, 82, 100]
[65, 50, 82, 100, 23]

In [17]:
thislist = ["apple", "banana", "cherry"]
l2 = thislist
thislist.pop()
print(l2)
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
thislist.pop()
print(mylist)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [18]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [19]:
l = [1,1,1,2,3,4,1]
l.count(1)

4

other list methods = https://www.w3schools.com/python/python_lists_methods.asp

# tuples 
https://www.w3schools.com/python/python_tuples.asp

# set
https://www.w3schools.com/python/python_sets.asp <br>

In [25]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

thisset.add("orange")
print(thisset)


thisset = {"apple", "banana", "cherry"}
thisset.update({"pineapple", "mango", "papaya"})

print(thisset)

thisset.remove("banana") # or discard  => remove has exception if not exist but discard no 
# pop return item
print(thisset)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana', 'orange'}
{'apple', 'mango', 'cherry', 'pineapple', 'papaya', 'banana'}
{'apple', 'mango', 'cherry', 'pineapple', 'papaya'}

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) 
print(set3)



x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{1, 'b', 2, 3, 'a', 'c'}
{'apple'}
{'apple'}
{'google', 'cherry', 'microsoft', 'banana'}
{'google', 'cherry', 'microsoft', 'banana'}

# dictionary 
https://www.w3schools.com/python/python_dictionaries.asp

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(thisdict.get("model"))
print(thisdict.keys())
thisdict["new_key"] = "new_value"
print(thisdict)
print(thisdict.values())
print(thisdict.items())
thisdict.popitem()
print(thisdict)
del thisdict["year"]
print(thisdict)

newdict = thisdict
thisdict["brand"] = "new_brand"
print(newdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
newdict = thisdict.copy()
thisdict["brand"] = "new_brand"
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
Mustang
dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'new_key': 'new_value'}
dict_values(['Ford', 'Mustang', 1964, 'new_value'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('new_key', 'new_value')])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'new_brand', 'model': 'Mustang'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [28]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

# if else
https://www.w3schools.com/python/python_conditions.asp

In [37]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
    print("a is greater than b")

x = 2 if a>b else 3 
print(x)

a=b =2 
print("A") if a > b else print("B")
print("A") if a > b else print("=") if a == b else print("B")

a is greater than b
2
B
=

# while loop

In [38]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [39]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [41]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# function 
https://www.w3schools.com/python/python_functions.asp

In [45]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")


def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")


def my_function(**kid):
    print(kid)
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")


def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()

Emil Refsnes
The youngest child is Linus
The youngest child is Linus
{'fname': 'Tobias', 'lname': 'Refsnes'}
His last name is Refsnes
I am from Sweden
I am from India
I am from Norway

# lambda 
https://www.w3schools.com/python/python_lambda.asp

# class
https://www.w3schools.com/python/python_classes.asp

In [48]:
class Person:
    x = 5
    def __init__(self, name, age):
        self.name = name
        self.age  = age
        
    
    def myfunc(self):
        print("Hello my name is " + self.name)
        
    def __str__(self):
        return f"name = {self.name}  age={self.age} x={self.x}"


p1 = Person("John", 36)
p2 = Person("sara",40)


print(p1.name)
print(p1.age)
print(p1.x)
print(p1.myfunc())
print(p1)
print(p2)
p1.x = 10
print(p1)
print(p2)

Person.x = 20
print(p1)
print(p2)


class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019
        
#     def __str__(self):
#         return "okk"
        
    
s1 = Student("amirreza",23)
print(s1)
print(s1.graduationyear)

John
36
5
Hello my name is John
None
name = John  age=36 x=5
name = sara  age=40 x=5
name = John  age=36 x=10
name = sara  age=40 x=5
name = John  age=36 x=10
name = sara  age=40 x=20
okk
2019

# iterators
https://www.w3schools.com/python/python_iterators.asp

# scope 
https://www.w3schools.com/python/python_scope.asp

# math 
https://www.w3schools.com/python/python_math.asp

In [54]:
x = min(5, 10, 25 , key=lambda item : abs(item-10))
print(x)
x = min(5, 10, 25 )

y = max(5, 10, 25)

print(x)
print(y)

x = abs(-7.25)

print(x)


import math
print(int(1.4 // 1) )
x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

10
5
25
7.25
1
2
1

# json 
https://www.w3schools.com/python/python_json.asp

# pip 
https://www.w3schools.com/python/python_pip.asp

! pip install pkg <br>
! pip uninstall pkg

# try - except 
https://www.w3schools.com/python/python_try_except.asp

In [61]:
x = 3 
try:
    print(x)
    print(x//0)
    
    
except Exception as e :
    print(f"EXCEPTION {e}")
    
else : 
    print("OK") #when we don't have any exceptions
    
finally:
    print("finally")

3
EXCEPTION integer division or modulo by zero
finally

In [62]:
try:
    f = open("demofile.txt")
    try:
        f.write("Lorum Ipsum")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong when opening the file")

Something went wrong when opening the file

In [63]:
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

# input

In [64]:
x = input("please input value")
print(x)
print(type(x))

please input value1
1
<class 'str'>